<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="One man's journey through the cosmos" />
    <link href="~/resources/cs/main.min.css" rel="stylesheet" />
    <meta name="keywords" content="blog, development, design"/>
    <meta name="author" content="Forrest, James" />
</head>
<body>
    <header>

    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
    <script src="~/resources/js/scripts.js"></script>
    @RenderSection("page-scripts", false)
</body>
</html>